* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  nav {
    flex: 1;
    text-align: right;
  }
  .static {
    position: static;
  }
  nav ul {
    display: inline-block;
    list-style-type: none;
  }
  nav ul li ul {
    position: absolute; 
    display: none;
  }
  nav ul li {
    position: static;
    display: inline-block;
    margin-right: 20px;
  }
  nav ul li ul li{
    display: flex;
    text-align: left;
    margin: 1px;
    border-radius: 3px;
    padding: 5px;
    background: #b5b5b5;
    display: grid;
}

nav ul li:hover > ul{
  position: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
    color: #555;
}
  
  a {
    font-size: 15px;
    text-decoration: none;
    color: #555;
  }
  
  p {
    color: #555;
  }
  
  .container {
    font-size: 20px;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
  }
  
  .col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
  
  .btn {
    display: inline-block;
    background: #3897e4;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
  }
  
  .btn:hover {
    background: #563434;
  }
  
  .header {
    background: radial-gradient(#fff, #ffd6d6);
  }
  
  .header .row {
    margin-top: 70px;
  }
  
  .categories {
    margin: 70px 0;
  }
  
  .col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
  }
  
  .col-3 img {
    width: 100%;
  }
  
  .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .col-4 {
    width: auto;
    position: relative;
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    max-width: 600px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  
  .col-4 img {
    position: relative;
    filter: blur(1px) grayscale() ;
    width: 100%;
    max-width: 1920px ;

    opacity: 50%;
  }
  .col-4 img:hover {
    position: relative;
    filter: none;
    opacity: 100%;
  }
  
  .title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
  }
  .title::after {
    content: "";
    background: #3897e4;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
  
  h4 {
    color: #555;
    font-weight: normal;
  }
  
  .col-4 p {
    font-size: 14px;
  }
  
  .rating .fas {
    color: #3897e4;
  }
  
  .rating .far {
    color: #3897e4;
  }
  
  .col-4:hover {
    filter: none;
    transform: translateY(-5px);
  }
  
  .offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
  }
  
  .col-2 .offer-img {
    padding: 50px;
  }
  
  small {
    color: #555;
  }

  .testimonial {
    padding-top: 100px;
  }
  
  .testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .testimonial .col-3 img {
    width: 100px;
    margin-top: 20px;
    border-radius: 50%;
  }
  
  .testimonial .col-3:hover {
    transform: translateY(-10px);
  }
  
  .fa-quote-left {
    font-size: 34px;
    color: #3897e4;
  }
  
  .col-3 p {
    font-size: 14px;
    margin: 12px 0;
    color: #777777;
  }
  
  .testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
  }
  
  .brands {
    margin: 100px auto;
  }
  
  .col-5 {
    width: 160px;
  }
  
  .col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
  }
  
  .col-5 img:hover {
    width: 100%;
    cursor: pointer;
    filter: grayscale(0);
  }
  
  .footer {
    background: #000;
    width: 100%;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  
  .footer p {
    color: #8a8a8a;
  }
  
  .footer h3 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  
  .footer-col-1 {
    flex-basis: 30%;
  }
  
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }
  
  .footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
  }
  
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
  }
  
  .app-logo {
    margin-top: 20px;
  }
  .app-logo img {
    width: 140px;
  }
  
  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  
  .copyright {
    text-align: center;
  }
  
  .menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
  }
  
  .row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
  }
  
  select {
    border: 1px solid #3897e4;
    padding: 5px;
  }
  
  select:focus {
    outline: none;
  }
  
  .page-btn {
    margin: 0 auto 80px;
  }
  
  .page-btn span {
    display: inline-block;
    border: 1px solid #3897e4;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
  
  .page-btn span:hover {
    background: #3897e4;
    color: #ffffff;
  }
  
  .single-product {
    margin-top: 80px;
  }
  
  .single-product .col-2 img {
    padding: 0;
  }
  
  .single-product .col-2 {
    padding: 20px;
  }
  
  .single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
  }
  
  .single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
  }
  
  .single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 10px;
    margin-right: 10px;
    border: 1px solid #3897e4;
  }
  
  input:focus {
    outline: none;
  }
  
  .single-product .fas {
    color: #3897e4;
    margin-left: 10px;
  }
  
  .small-img-row {
    display: flex;
    justify-content: space-between;
  }
  
  .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
  }
  
  .cart-page {
    margin: 90px auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  th {
    text-align: left;
    padding: 5px;
    color: #ffffff;
    background: #3897e4;
    font-weight: normal;
  }
  td {
    padding: 10px 5px;
  }
  
  td input {
    width: 40px;
    height: 30px;
    padding: 5px;
  }
  
  td a {
    color: #3897e4;
    font-size: 12px;
  }
  
  td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
  .total-price {
    display: flex;
    justify-content: flex-end;
  }
  
  .total-price table {
    border-top: 3px solid #3897e4;
    width: 100%;
    max-width: 400px;
  }
  
  td:last-child {
    text-align: right;
  }
  
  th:last-child {
    text-align: right;
  }
  .account-page {
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
  }
  
  .form-container {
    background: #ffffff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
  }
  
  .form-btn {
    display: inline-block;
  }
  
  .form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
  }
  
  form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
  }
  
  form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
  }
  
  form .btn:focus {
    outline: none;
  }
  
  #LoginForm {
    left: -300px;
  }
  
  #RegForm {
    left: 0;
  }
  
  form a {
    font-size: 12px;
  }
  
  #Indicator {
    width: 100px;
    border: none;
    background: #3897e4;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
  }
  .loader-line {
    width: 200px;
    height: 3px;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
    margin: 100px auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.loader-line:hover:before {
  content: "";
  position: absolute;
  left: -50%;
  height: 3px;
  width: 40%;
  -webkit-animation: lineAnim 1s linear infinite;
-moz-animation: lineAnim 1s linear infinite;
animation: lineAnim 1s linear infinite;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

@keyframes lineAnim {
    0% {
        left: -40%;
        background-color: rgb(2, 48, 252);
    }
    20% {
        left: 20%;
        width: 40%;
        background-color: rgb(26, 190, 26);
    }
    60% {
      left: 60%;
      width: 50%;
      background-color: rgb(5, 143, 148);
  }
  80% {
    left: 80%;
    width: 20%;
    background-color: rgb(253, 220, 111);
}
    100% {
        left: 100%;
        width: 100%;
        background-color: rgb(182, 43, 43);
    }
}
.buttoncss {
  padding: 5px;
  background: transparent;
  border: none;
  width: 45px;
  height: 45px;
}
.buttoncss img {
  height: auto;
  width: auto;
}
.buttoncss:hover {
  padding: 5px;
  border: none;
  width: 45px;
  height: 45px;
} 

.buttoncss1 {
  color: #fff;
  margin-left: 25px;
  padding: 5px;
  border: none;
  background-color: #3897e4;
  width: 55px;
  height: 55px;
border-radius: 50%;
transition: step-end;
}
.buttoncss1:hover {
  color: #fff;
  margin-left: 25px;
  padding: 5px;
  border: none;
  background-color: #000508;
  width: 55px;
  height: 55px;
border-radius: 50%;
transition: 0.5s;
}
.source {
  height: 10px;
  width: 10px;
  top: 0px;
 left: 0px;
}
        .loading-bar {
          position: relative;
            width: 80%; 
            height: auto;
            background-color: transparent;
            overflow: hidden;
            margin: 50px auto;
            display: flex;
            flex-direction: column;
        }

        .bar {
            height: 3px;
            margin-bottom: 10px;
            animation: none;
            border-radius: 14px;
        }

        .bar-1 {
            width: 50%;
            background-color: #56a0e6;
        }

        .bar-2 {
            width: 40%;
            background-color: #e9170f;
        }

        .bar-3 {
            width: 30%;
            background-color: #3a7027;
        }

        .bar-4 {
            width: 20%;
            background-color: #e4d12c;
        }

        .bar-5 {
            width: 10%;
            background-color: #ff1fda;
        }

        .loading-bar:hover .bar {
            animation: loading 5s linear infinite;
        }
        @keyframes loading {
          from { transform: translateX(-100%); }
          to { transform: translateX(0%); }
      }